<h2>Lista de UFS</h2>

<a routerLink="/ufs/novo" class="btn btn-primary">Novo Uf</a>

<table>
    <thead>
        <tr>
            <th>Código</th>
            <th>Nome</th>
            <th>Sigla</th>
            <th>Ações</th>
        </tr>
     </thead>
    <tbody>
        <tr *ngFor="let uf of ufs | async">
            <td>{{uf.coduf}}</td>
            <td>{{uf.nomeuf}}</td>
            <td>{{uf.sigla}}</td>
            <td>
                <a [routerLink]="['/ufs/editar', uf.coduf]" class="btn btn-edit">Editar</a>
                <button (click)="deleteUf(uf.coduf!)" class="btn btn-delete">Excluir</button>
            </td>
        </tr>
    </tbody>
</table>